[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dask = "==2022.10.2"
imblearn = "==0.0"
joblib = "==1.2.0"
matplotlib = "==3.5.2"
numpy = "==1.23.4"
orjson = "==3.8.0"
pandas = "==1.5.1"
scikit-learn = "==1.1.2"
tqdm = "==4.64.1"
xgboost = "==1.6.2"
scipy = "*"

[dev-packages]

[requires]
